<div class="col">
	<div class="container p-0 m-0">
		<a href="<%= image_path picture[:image_path] %>" data-fancybox="gallery">
			<%= image_tag picture[:image_path], class: "w-100" %>
		</a>
	</div>
</div>
