<%# <button aria-pressed="false" onClick="this.setAttribute('aria-pressed',this.getAttribute('aria-pressed') === 'true' ? 'false' : 'true');">Pause Animation</button> %>

<body id="body-music">
	<div class='marquees'>
		<section class='marquee' style='--char-count: 28'>
			<div class='marquee--inner'>
				<p>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
			</div>
		</section>

		<div class='marquee' style='--char-count: 30'>
			<div class='marquee--inner'>
				<p>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
			</div>
		</div>

		<section class='marquee' style='--char-count: 22'>
			<div class='marquee--inner'>
				<p>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
			</div>
		</section>

		<section class='marquee' style='--char-count: 24'>
			<div class='marquee--inner'>
				<p>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
				<p aria-hidden='true'>Work in progress</p>
			</div>
		</section>
	</div>
	</div>
