$theme-colors: (
  "primary":    #ffffff,
  "secondary":  #dbdbdb,
	"mid-1":			#afafaf,
	"mid-2":			#7c7c7c,
  "dark":				#000,
  "darkish":		#353535
	);

@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons';
// @import 'music';
@import 'header';
@import 'footer';

body {
	background: #000;
	color: white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	max-width: 1000px;
}

#bg_image {
	position: fixed;
	width: 100%;
	max-width: 1000px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

#floating-logo {
	width: 90%;
	// margin-bottom: 50px;
	filter: drop-shadow(0 0 10px black);
	/* z-index: 24; */
}

.header {
	// position: relative;
	color: white;
	/* background: black; */
	font-family: "Electrolize", sans-serif;
	// font-size: 2rem;
	// font-weight: 100;
	// text-align: center;
	// margin: 3rem 0 2rem 0;
}

.pictures_gallery img {
	// cursor: pointer;
	transition: .1s ease-out;
}

.pictures_gallery img:hover {
	// opacity: .3;
	box-shadow: 0 0 10px var(--hover-shadow-color);
	transform: scale(1.05);
}
