.gallery_collapse {
	font-family: "Electrolize", sans-serif;
}

.poster_gallery .container {
	position: relative;
}

.poster_gallery a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	font-family: "Electrolize", sans-serif;
	border: 1px solid white;
	box-shadow: 0 0 10px black;
	transition: .1s ease-out;
}

.poster_gallery .container:hover a {
	opacity: 1;
}

.poster_gallery a:hover {
	background: rgba(255, 255, 255, .5);
	color: black;
}

.poster_gallery img {
	// cursor: pointer;
	transition: .1s ease-out;
}

.poster_gallery .container:hover img {
	filter: invert(1) sepia(1) hue-rotate(315deg) saturate(2) contrast(2);
	// opacity: .3;
	transform: scale(1.05);
}
