.gallery_collapse {
	font-family: "Electrolize", sans-serif;
}

.invert_hover .container {
	position: relative;
}

.invert_hover .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	font-family: "Electrolize", sans-serif;
	border: 1px solid white;
	box-shadow: 0 0 10px black;
	transition: .1s ease-out;
}

.invert_hover .container:hover .btn {
	opacity: 1;
}

.invert_hover .btn:hover {
	background: rgba(255, 255, 255, .5);
	color: black;
}

.invert_hover img {
	// cursor: pointer;
	transition: .1s ease-out;
}

.invert_hover .container:hover img {
	filter: invert(1) sepia(1) hue-rotate(315deg) saturate(2) contrast(2);
	// opacity: .3;
	transform: scale(1.05);
}
