.notification {
  opacity: 0;
  transform: translateX(20px);
  position: fixed;
  top: 5rem;
  right: 1rem;
  color: #fff;
	font-family: "Electrolize", sans-serif;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.3);
  z-index: 9999;
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.notification.notice {
  border-color: #fff;
}

.notification.alert {
  border-color: #f00;
}

.notification.success {
  border-color: #0f0;
}

.notification.visible {
  opacity: 1;
  transform: translateX(0);
}

.notification.fade-out {
  opacity: 0;
  transform: translateX(20px);
}

.hidden {
  display: none;
}
